.container {
  max-width: 600px;
}

.hidden {
  display: none!important;
}

#main-input,
#todo-list,
.todo label {
  font-size: 1.8rem;
  color: color('grey', 'darken-3');
}

ul[id="todo-list"] {
	li {
    position: relative;
		border-bottom: 1px solid color('grey', 'lighten-1');
		padding: 15px;
	}

  input[type="checkbox"]:checked + label {
    text-decoration: line-through;
  }

  label:before {
    top: 2px;
  }

  .actions {
    position: absolute;
    top: 15px;
    right: 0;
    vertical-align: middle;
    cursor: pointer;

    i {
      vertical-align: middle;
    }

    .icon-edit {
      margin-right: 15px;
    }
  }
  
    .edit-input {
      margin-bottom: 0;
      height: auto;
      font-size: 1.8rem;
      color: color('grey', 'darken-3');
      &, &:focus {
        border-bottom: none;
        box-shadow: none
      }
    }
}

footer {
  position: relative;
}

#filters-container {
  position: relative;
  top: 30px;
}

  #items-left,
  #clear-completed {
    position: absolute;
    bottom: 0;
    color: color('grey', 'base');
  }

  #clear-completed {
    top: 2px;
    right: 0;
  }

  .filters li {
    display: inline-block;
    &:nth-child(2) {
      // margin: 0 25px;
      margin: 0 5px;
    }

    a {
      display: inline-block;
      padding: 2px 5px;
      color: color('teal', 'base');
    }
  }

    .filter-active {
      border: 1px solid color('grey', 'lighten-1');
    }