.container {
  max-width: 600px;
}

.hidden {
  display: none!important;
}

#main-input,
#todo-list,
.todo label {
  font-size: 1.8rem;
  color: color('grey', 'darken-3');
}

ul[id="todo-list"] {
	li {
    position: relative;
		border-bottom: 1px solid color('grey', 'lighten-1');
		padding: 15px;
	}

  input[type="checkbox"]:checked + label {
    text-decoration: line-through;
  }

  label:before {
    top: 2px;
  }

  .actions {
    position: absolute;
    right: 0;
    vertical-align: middle;
    cursor: pointer;

    i {
      vertical-align: middle;
    }

    .icon-edit {
      margin-right: 15px;
    }
  }
  
    .edit-input {
      margin-bottom: 0;
      height: auto;
      font-size: 1.8rem;
      color: color('grey', 'darken-3');
      &, &:focus {
        border-bottom: none;
        box-shadow: none
      }
    }
}