.container {
  max-width: 600px;
}

#main-input,
#todo-list {
  font-size: 1.8em;
  color: color('grey', 'darken-3');
}

ul[id="todo-list"] {
	li {
    position: relative;
		border-bottom: 1px solid color('grey', 'lighten-1');
		padding: 15px;

    &:hover .x-mark {
      visibility: visible;
    }
	}
}

  .x-mark {
    position: absolute;
    right: 0;
    vertical-align: middle;
    visibility: hidden;
    cursor: pointer;
  }